* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

.fork {
	position: fixed;
	top: 0;
	right: -15px;
	z-index: 4;
	width: 149px;
	height: 149px;
	background: url(../img/fork-me.png) no-repeat -15px top;
}

@media screen and (max-width: 600px) {
	.fork {
		display: none;
	}
}

/*Main*/

.main-container {
	display: -ms-grid;
	display:     grid;
	-ms-grid-columns: 100%;
	grid-template-columns: 100%;
	/*grid-template-rows: 100px;*/
	grid-template-areas: "header";
}

/*Header*/

.header-container {
	background-color: #fffd00;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	        box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.header {
	grid-area: header;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	max-width: 1100px;
}

.header-logo {
	padding: 10px;
	flex-basis: 41%;
	-ms-flex-preferred-size: 41%;
}

.header-title {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	border-bottom: 5px solid #ff8111;
	color: #333333;
	font-size: 2.5rem;
	text-transform: uppercase;
}

/*Wrapper*/

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/*Summary*/

.summary {
	border-right: 1px solid #cccccc;
	list-style: none;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 30px;
	width: 230px;
	height: 100%;
	/*position: fixed;*/
}


li {
	padding: 5px;
	font-size: 0.875rem;
}

summary {
	font-size: 0.875rem;
	outline: none;
	padding: 5px;
}

.summary li a,
summary a {
	text-decoration: none;
	color: #000000;
}

summary:first-child {
	font-weight: 700;
}

summary:not(:first-child) {
	margin-left: 20px;
}

/*Content*/

.content {
	margin: 0 auto;
	max-width: 950px;
	padding-top: 50px;
	padding-right: 25px;
	padding-left: 25px;
}

h2 {
	font-size: 1.3rem;
	font-weight: 400;
	text-align: center;
}

.badges {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 30px;
	max-width: 528px;
}

.badges > a {
	text-decoration: none;
}

/*Articles*/

.article {
	margin-top: 50px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
}

.sub-article {
	margin-top: 20px;
}

.article p,
.sub-article p {
	line-height: 25px;
	margin-top: 15px;
}

.article a,
.sub-article a {
	color: #0366d6;
	text-decoration: none;
}

.code {
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	padding: 0.2em;
	border-radius: 3px;
	background-color: rgba(27,31,35,0.05);
	font-size: 14px;
}

.article-lists,
.article-sub-lists {
	margin-left: 20px;
	margin-top: 10px;
}

.article-lists li,
.article-sub-lists li {
	font-size: 16px;
}

/*Footer*/

.footer {
	background-color: #2e2e2e;
	color: #ffffff;
	width: 100%;
	margin-top: 50px;
	padding-bottom: 10px;
}
